@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

.hide-scrollbar {
  overflow: overlay;
  /* transition: all 0.3s; */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
  opacity: 0;
}

.hide-scrollbar:hover::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: #0000;
  opacity: 1;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #fff4;
  border-radius: 4px;
}

@media screen and (max-height: 730px) and (min-width: 768px) {
  /* FIXME: does this belong here? */
  .vis-toggle-shortscreen.md\:w-24 { width: 4rem; }
}

@media screen and (max-width: 380px) {
  /* FIXME: does this belong here? */
  .vis-toggle-shortscreen {
    width: 3rem;
  }
}

@media screen and (max-width: 410px) {
  .counting-progress-xs {
    height: 1.5rem;
  }
  .typo-footer {
    font-size: 12px;
  }
}

.typo-footer {
  font-size: 14px;
}

@media screen and (max-width: 374px) {
  .typo-footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 374px) {
  .typo-title {
    font-size: 20px !important;
  }
  
  .gap-2-xxs {
    gap: 0.5rem;
  }
}

@media screen and (max-height: 640px) {

  .overflow-none-shortscreen {
    overflow-y: none;
  }

  .overflow-auto-shortscreen {
    overflow-y: auto !important;
  }

  .overflow-visible-shortscreen {
    overflow: visible !important;
  }
}